html,
body {
  background: rgba(51, 51, 51, 1);
  color: rgba(222, 222, 222, 1);
  font-family: arial;
  font-size: 14px;
  margin: 0;
  padding: 10px;
}

span,
strong {
  color: rgba(222, 222, 222, 1);
  font-family: arial;
  font-size: 15px;
  font-variant: small-caps;
  font-weight: normal;
  padding: 0 10px;
}

ul {
  margin: 0;
}

input {
  padding: 5px;
}

canvas {
  display: block;
}

#calculator {
top: 22px;
right: 22px;
position: absolute;
}

#calculator input {
  display: block;
}

#footer {
  display: flex;
  position: absolute;
  top: 500px;
}
